extends baseadmin

block contenido
    .container
        .row
            .col
                 h3 Bienvenido, #{usuario} !
        .row
            .col
                h2 Lista de los estudiantes registrados 
        .row
            .col
                 table.table.table-bordered.table-hover.table-responsive
                    thead.thead-dark
                        tr
                            th #
                            th Nombre 
                            th Apellido 
                            th Edad 
                            th Cedula 
                            th Correo
                            th Carrera
                            th Año 
                            th Direccion
                            th Sexo
                            th Indice 
                            th
                            th 