extends baseadmin

block contenido
    .container
        .row
            .col
                 h3 Bienvenido, #{usuario} !
        .row
            .col
                h2 Lista de Pedidos Realizados 
        .row
            .col
                 table.table.table-bordered.table-hover.table-responsive
                    thead.thead-dark
                        tr
                            th #
                            th Numero de Orden
                            th Estado de Orden 
                            th Fecha de Orden
                            th Usuario  
                            th Direccion 1
                            th Direccion 2
                            th Telefono
                            th 