doctype html(lang='en')
head
    meta(charset='utf-8')
    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title E-SHOP HTML Template
    // Google font
    link(href='https://fonts.googleapis.com/css?family=Hind:400,700', rel='stylesheet')
    // Bootstrap
    link(type='text/css', rel='stylesheet', href='/css/bootstrap.min.css')
    // Slick
    link(type='text/css', rel='stylesheet', href='/css/slick.css')
    
    link(type='text/css', rel='stylesheet', href='/css/slick-theme.css')
    // nouislider
    link(type='text/css', rel='stylesheet', href='/css/nouislider.min.css')
    // Font Awesome Icon
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    // Custom stlylesheet
    link(type='text/css', rel='stylesheet', href='/css/style.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
        
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
body
    header
      // header
      #header
        .container
          .pull-left
            // Logo
            .header-logo
              a.logo(href='/')
                img(src='/img/logo-bandera.png', height='70px', alt='')
            // /Logo
            // Search
            .header-search
              form
                input.input.search-input(type='text', placeholder='Palabra clave')
                | 
                select.input.search-categories
                  option(value='0') Categorias
                                   
                  option(value='1') Categoria 2
                | 
                button.search-btn
                  i.fa.fa-search
            // /Search
          
          .pull-right
            ul.header-btns
              // Account
              li.header-account.dropdown.default-dropdown
                if login 
                    .dropdown-toggle(role='button', data-toggle='dropdown', aria-expanded='true')

                      .header-btns-icon
                        i.fa.fa-user-o
                      
                      strong.text-uppercase
                        | Mi Cuenta 
                    a.text-uppercase(href='/adminusr') Mi Cuenta
                    |/
                    a.text-uppercase(href='/logout') Cerrar Sesion
                    ul.custom-menu
                      li
                        a(href='/adminusr')
                          i.fa.fa-user-o
                          |  Mi Cuenta

                      li
                        a(href='#')
                          i.fa.fa-check
                          |  Checkout
                      
                      li
                        a(href='/logout')
                          i.fa.fa-lock-alt
                          |  Cerrar Sesion
                     
                else
                        .dropdown-toggle(role='button', data-toggle='dropdown', aria-expanded='true')
                            .header-btns-icon
                             i.fa.fa-user-o
                          
                            strong.text-uppercase
                              | Mi Cuenta    
                        | 
                        a.text-uppercase(href='/login') Log-In
                        |  / 
                        a.text-uppercase(href='/registro') Crear Cuenta
                        | 
                        ul.custom-menu

                          li
                            a(href='/login')
                              i.fa.fa-unlock-alt
                              |  Iniciar Sesion
                          li
                            a(href='/registro')
                              i.fa.fa-user-plus
                              | Crear Cuenta
              
              // /Account
              // Cart
              li.header-cart.dropdown.default-dropdown
                a.dropdown-toggle(data-toggle='dropdown', aria-expanded='true')
                  .header-btns-icon
                    i.fa.fa-shopping-cart

                    span   #{session.cart ? session.cart.totalQty :null}
                  
                  strong.text-uppercase Mi carrito:
                  
                  br
                  
                  span   #{session.cart ? session.cart.totalPrice:null}
                | 
                .custom-menu
                  #shopping-cart
                    .shopping-cart-list
                                          
                    .shopping-cart-btns
                      a.button.main-btn(href='/shopping-cart', role= "button") View Cart
                      
                      a.button.primary-btn(href='/checkout', role= "button")
                        | Checkout 
                        i.fa.fa-arrow-circle-right
              // /Cart
              // Mobile nav toggle
              li.nav-toggle
                button.nav-toggle-btn.main-btn.icon-btn
                  i.fa.fa-bars
                  
              // / Mobile nav toggles
        // header
      // container
    // /HEADER
    // Page Content

block contenido


    // Footer
    footer.py-5.bg-dark
      .container
        p.m-0.text-center.text-white Copyright &copy; Your Website 2017
      // /.container
    // Bootstrap core JavaScript
  
    script(src='/js/jquery.min.js')
    |     
    script(src='/js/bootstrap.min.js')
    |     
    script(src='/js/slick.min.js')
    |     
    script(src='/js/nouislider.min.js')
    |     
    script(src='/js/jquery.zoom.min.js')
    |     
    script(src='/js/main.js')




