extends base

block content
    .container
        .row
            .col
                 h3 Bienvenido, #{usuarios.username} !
        .row
            .col
                h2 Lista de Pedidos Realizados 