extends base

block content
    .container
        .row
            .col
                 h3 Bienvenido, #{usuarios.nombre} !
        .row
            .col
                h2 Lista de Pedidos Realizados 