extends basehead

block contenido
    .container
      .row
        // NAVIGATION
        #navigation
          // container
          .container
            #responsive-nav
              // category nav
              .category-nav.show-on-click
                span.category-header
                  | Categorias 
                  i.fa.fa-list
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                ul.category-list
                  li
                    a(href='#') Liga X
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.dropdown.side-dropdown
                    a.dropdown-toggle(data-toggle='dropdown', aria-expanded='true')
                      | Liga Y 
                      i.fa.fa-caret-down
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#') Equipo 1
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#') Equipo 2
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#') Equipo 3
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#') Equipo 4
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            li
                              a(href='#') Equipo 5
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          hr.hidden-md.hidden-lg
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.dropdown.side-dropdown
                    a.dropdown.mega-dropdown
                      a.dropdown-toggle(data-toggle='dropdown', aria-expanded='true')
                        | Liga Z 
                        i.fa.fa-caret-down
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .custom-menu
                        .row
                          .col-md-4
                            ul.list-links
                              li
                                h3.list-links-title Equipos
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              li
                                a(href='#') Equipo 1
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              li
                                a(href='#') Equipo 2
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              li
                                a(href='#') Equipo 3
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              li
                                a(href='#') Equipo 4
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              li
                                a(href='#') Equipo 5
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            hr.hidden-md.hidden-lg
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Liga XX
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.dropdown.side-dropdown
                    a.dropdown.mega-dropdown
                      a.dropdown-toggle(data-toggle='dropdown', aria-expanded='true')
                        | Liga XY 
                        i.fa.fa-caret-down
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .custom-menu
                        .row
                          .col-md-4
                            ul.list-links
                              li
                                h3.list-links-title Equipos
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              li
                                a(href='#') Equipo 1
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              li
                                a(href='#') Equipo 2
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              li
                                a(href='#') Equipo 3
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              li
                                a(href='#') Equipo 4
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              li
                                a(href='#') Equipo 5
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Liga XY
              // /category nav
              // menu nav
              .menu-nav
                span.menu-header
                  | Menu 
                  i.fa.fa-bars
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                ul.menu-list
                  li
                    a(href='#') Incio
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Metodo de pago/Entregas
                  |             &#x9;&#x9;&#x9;
                  li
                    a(href='#') Quienes somos
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Contactenos
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
              // menu nav
          // /container
        // /NAVIGATION
        // BREADCRUMB
        #breadcrumb
          .container
            ul.breadcrumb
              li
                a(href='#') Home
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') Products
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') Category
              | &#x9;&#x9;&#x9;&#x9;
              li.active Product Name Goes Here
        // /BREADCRUMB
        // section
        .section
          // container
          .container
            // row
            .row
              // Product Details
              .product.product-details.clearfix
                .col-md-6
                  #product-main-view
                    .product-view
                      img(src='/img/main-product01.jpg', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .product-view
                      img(src='/img/main-product02.jpg', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .product-view
                      img(src='/img/main-product03.jpg', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .product-view
                      img(src='/img/main-product04.jpg', alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  #product-view
                    .product-view
                      img(src='/img/thumb-product01.jpg', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .product-view
                      img(src='/img/thumb-product02.jpg', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .product-view
                      img(src='/img/thumb-product03.jpg', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .product-view
                      img(src='/img/thumb-product04.jpg', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-6
                  .product-body
                    .product-label
                      span New
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.sale -20%
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    h2.product-name Product Name Goes Here
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    h3.product-price
                      | $32.50 
                      del.product-old-price $45.00
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  p
                    strong Availability:
                    |  In Stock
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  p
                    strong Brand:
                    |  E-SHOP
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    | dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .product-options
                    ul.size-option
                      li
                        span.text-uppercase Size:
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li.active
                        a(href='#') S
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#') XL
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#') SL
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    ul.color-option
                      li
                        span.text-uppercase Color:
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li.active
                        a(href='#', style='background-color:#475984;')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#', style='background-color:#8A2454;')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#', style='background-color:#BF6989;')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#', style='background-color:#9A54D8;')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .product-btns
                    .qty-input
                      span.text-uppercase QTY: 
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      input.input(type='number')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    button.primary-btn.add-to-cart
                      i.fa.fa-shopping-cart
                      |  Add to Cart
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .pull-right
                      button.main-btn.icon-btn
                        i.fa.fa-heart
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      button.main-btn.icon-btn
                        i.fa.fa-exchange
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      button.main-btn.icon-btn
                        i.fa.fa-share-alt
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .col-md-12
                .product-tab
                  ul.tab-nav
                    li.active
                      a(data-toggle='tab', href='#tab1') Description
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(data-toggle='tab', href='#tab1') Details
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .tab-content
                    #tab1.tab-pane.fade.in.active
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        | irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    //FIN COMIDA             
     