extends base
block head
    link(rel="stylesheet", href="/css/404.css")
    link(rel="stylesheet", href="/css/quien.css")
block content
    .container-img
        img(src='/images/quienes-somos.png', alt='404' class="img404")
        h1 
         |Quienes Somos

        .div-center
            strong Panama Jerseys es un sitio web que se especializa en la venta de camisetas deportivas principalmente de futbol. Permite a los ciudadanos panameños tener la facilidad de comprar estas camisetas a través del internet y el pago con tarjeta de crédito.
            br|
            br|
            strong Panama Jerseys busca cubrir la necesidad que hay en el país de un sitio web en el cual los usuarios puedan comprar las camisetas de sus equipos favoritos sin salir de sus hogares, tomar tranques y sobre todo pagar altos precios, ya que las camisetas que ofrece son de un bajo costo y son réplicas de calidad.
            br|
            br|
            strong Panama Jerseys se enfoca en la idea de una tienda de ropa deportiva donde se pueda comprar la camiseta de su equipo favorito, deseamos presentar al usuario con la mejor experiencia de compra posible, facilitando la búsqueda de equipos y tallas.
        