extends base.pug
block head
    link(rel="stylesheet", href="/css/registro.css")
block content
    .card.card-container
          if hasErrors
            .alert.alert-danger
              each lista in messages
                p  #{lista}

          .w.mt-5.mb-5
            form.l(action='/registroU', method='POST')
              span.login100-form-title.p-b-32
                | Registro
              | 
              span.txt1.p-b-11
                | Nombre
              | 
              .wrap-input100.validate-input.m-b-8
                input.input100(type='text', name='nombre')
                | 
                span.focus-input100
              | 
              | 
              span.txt1.p-b-11
                | Apellido
              | 
              .wrap-input100.validate-input.m-b-8
                input.input100(type='text', name='apellido')
                | 
                span.focus-input100
              | 
              | 
              span.txt1.p-b-11
                | Usuario
              | 
              .wrap-input100.validate-input.m-b-12
                | 
                input.input100(type='text', name='usuario')
                | 
                span.focus-input100
              span.txt1.p-b-11
                | Password
              | 
              .wrap-input100.validate-input.m-b-12
                | 
                input.input100(type='password', name='password')
                | 
                span.focus-input100
              span.txt1.p-b-11
                | Correo
              | 
              .wrap-input100.validate-input.m-b-12
                | 
                input.input100(type='email', name='correo')
                | 
                span.focus-input100
              span.txt1.p-b-11
                | Sexo
              
              .wrap-input100.validate-input.m-b-12
                select#sexo(name="sexo")
                  option(value="hombre") Hombre
                  option(value="mujer") Mujer
                span.focus-input100

              span.txt1.p-b-11
                | Direccion 1
              | 
              .wrap-input100.validate-input.m-b-8
                input.input100(type='text', name='direccion1')
                | 
                span.focus-input100
              | 
              | 

              span.txt1.p-b-11
                | Direccion 2
              | 
              .wrap-input100.validate-input.m-b-8
                input.input100(type='text', name='direccion2')
                | 
                span.focus-input100
              | 
              | 
               
              span.txt1.p-b-11
                | Telefono
              | 
              .wrap-input100.validate-input.m-b-8
                input.input100(type='text', name='telefono')
                | 
                span.focus-input100
              | 
              | 
               
               
              | 
              .container-login100-form-btn
                input(type='hidden', name='_csrf', value=csrfToken)
                button.login100-form-btn
                  | Registrarse

