extends base.pug
block head
    link(rel="stylesheet", href="/css/404.css")
block content
    .card.card-container
        img(src='/img/logo-bandera.png', alt='404' class="img404")
        h1 
         |Gracias por su Compra
